<div class="stickyTopNav">
    <div>
      <h1 style="color: #c3c6ce;">Kyle Davis</h1>
      <P style="color: #c3c6ceb1; font-size: smaller;">WEB-CV</P>
    </div>
    <div>
      <p style="margin-top: 50%; margin-bottom: 50%;">basic info</p>
    </div>
  
    <div>
      <p style="margin-top: 50%; margin-bottom: 50%;">skills</p>
    </div>
    <div>
      <p style="margin-top: 50%; margin-bottom: 50%;">experience</p>
    </div>
    <div>
      <img style="width:1cm; height:1cm; margin-top: 50%; margin-bottom: 50%;" src="../assets/settings_brightness_FILL0_wght400_GRAD0_opsz48.svg">
    </div>
  
  
  </div>
  
  
  
  <div style="padding-left: 22vw; padding-right: 20vw;">
  
  
    <!-- <div style="width: 100%; height:fit-content; padding-top: 1vh; padding-bottom: 1vh; background-color: blue; border-radius: .2cm; text-align: center; color: aliceblue;    margin-top: calc(1.5vh + 1vw);
     margin-bottom: calc(1.5vh + 1vw); ">
      <P>site under construction</P>
      <P>updated 2022/04/28</P>
  
    </div> -->
  
  
  
  
  
  
  
    <div style="display: flex;  justify-content: space-around;">
      <div>
        <img src="../assets/emoji_people_FILL1_wght400_GRAD0_opsz48.png">
        <h2>basic info</h2>
  
      </div>
      <div class="basicInfo">
        <p>name: Kyle Davis</p>
        <p>date of birth: 1991/07/23</p>
        <p>afrikaans and english</p>
        <p>Maritial Status: Single</p>
        <p>Dependants: None</p>
        <p>resides: Pretoria</p>
        <p>willing to relocate: deffinetly</p>
        <p>Has own Bakkie</p>
      </div>
  
  
  
      <div class="summary">
  
        <P>Commited and hard-working</P>
        <p>Aspiring Software Emgineer, strong managerial background in multiple industries.</p>
        <p>absurdly creative multifaccetly, keen eye for design with accordance to popular/industry standards and
          functionality, constantly in awe how the most smallest detail can make the end esult POP</p>
  
  
      </div>
  
  
    </div>
  
    <!--gggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggg-->
  
    <div>
      <h1>skills</h1>
    </div>
  
  
  
  
  
    <div class="skillsCard">
      <div style="display: flex; justify-content: space-around;">
        <div style="width: 40%;">
  
          <div style="display: flex;">
  
            <div style="margin-top: auto; margin-bottom: auto;"><img class="imageIcons"
                src="../assets/check_box_FILL0_wght400_GRAD0_opsz48.svg"></div>
            <div class="textAdjIcons">
              <P>Administrative</P>
            </div>
  
  
  
  
          </div>
  
  
          <p>hr duties</p>
          <p>orders/deliveries/stock control</p>
          various management roles
  
  
          <div style="display: flex;">
  
  
            <div style="margin-top: auto; margin-bottom: auto;"> <img class="imageIcons"
                src="../assets/handyman_FILL0_wght400_GRAD0_opsz48.svg">
            </div>
            <div class="textAdjIcons">
              <P>dexterity</P>
            </div>
  
  
  
          </div>
  
  
          <p>general and powertools</p>
          <p>owns a lot of tools</p>
  
        </div>
        <div style="width: 40%;">
  
          <div style="display: flex;">
            <div style="margin-top: auto; margin-bottom: auto;" style="margin-top: auto; margin-bottom: auto;"> <img
                class="imageIcons" src="../assets/search_off_FILL0_wght400_GRAD0_opsz48.svg">
  
            </div>
            <div class="textAdjIcons">
              <P>problem solving</P>
            </div>
          </div>
  
  
  
  
          <p>tend to immidiately isolate problem</p>
  
          <div style="display: flex;">
  
            <div style="margin-top: auto; margin-bottom: auto;">
              <img class="imageIcons" src="../assets/dynamic_form_FILL0_wght400_GRAD0_opsz48.svg">
            </div>
            <div class="textAdjIcons">
              <P>Technical skills</P>
            </div>
  
  
          </div>
  
          <p>strong understanding of electrical theorie</p>
          <p>comfortable with building/moddifying computers/electrical equippment</p>
          <p>extremely strong computer/networking capabilities</p>
  
  
          <div style="display: flex;">
  
            <div style="margin-top: auto; margin-bottom: auto;">
              <img class="imageIcons" src="../assets/group_FILL0_wght400_GRAD0_opsz48.svg">
            </div>
            <div class="textAdjIcons">
              <P>inter-personal skills</P>
            </div>
  
  
          </div>
  
  
  
  
  
          <p>incredibly good with people</p>
          <p>people let their hair down around me</p>
  
        </div>
      </div>
  
  
  
  
  
  
    </div>
  
  
    <!--gggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggg-->
  
  
  
  
  
  
    <div>
      <h1>Experience</h1>
    </div>
  
  
  
  
  
  
    <div class="workHistory">
      <div class="workInstance">
  
        <div style="width: 40%;">
          <p class="workHistoryHeading">
            part time angular developer</p>
          <p>junior developer (solo)</p>
          <p style="font-weight: 100;">since Sept2021</p>
          <p>ITC services </p>
        </div>
        <div style="border-left: 1px solid black; width: 50%;">
          <p>Developing an updated website/portal/app (using angular dev stack with firestore) for a client that offers
            inteference testing facilities</p>
          <p>html, firebase, css, javascript, typescript, git, API </p>
          <p>Purely freelance, great learning oppurtunity as it involves payroll, client portal, payment portal,
            statements and a platform for staff to work on. Also developing front-end according to corparate identity and
            designs given by the UX/UI designer</p>
        </div>
  
  
      </div>
  
  
      <div class="workInstance">
  
        <div style="width: 40%;">
          <p class="workHistoryHeading">
            general store
  
          </p>
          <P style="font-weight: 100;">july2021 - march2022</P>
  
          <p>floor manager</p>
          <p> </p>
          <p>John - 078 888 8888 (can speak english)</p>
        </div>
        <div style="border-left: 1px solid black; width: 50%;">
          <p>Work in retail, appointed manager. being the only afrikaans capable in shop i was married to the floor.</p>
        </div>
  
  
      </div>
  
      <div class="workInstance">
  
        <div style="width: 40%;">
          <p class="workHistoryHeading">
            ownedby incident
  
  
  
  
  
          </p>
          <p>junior dev</p>
          <p style="font-weight: 100;">july2021 - march2022</p>
          <p>Marno Rautenbach - 078 888 8888</p>
        </div>
        <div style="border-left: 1px solid black; width: 50%;">
          <p></p>
          <p>thrown in deep-end. Angular/firebase.</p>
          <p>extensive experience with UI libraries, experimented with multiple</p>
          <p>authentication</p>
          <p>crud</p>
          <p>security</p>
          <p>html
            css
            javascrypt
            typescript
  
            rest API
            git</p>
        </div>
  
  
  
      </div>
  
  
  
      <div class="workInstance">
  
        <div style="width: 40%;">
          <p class="workHistoryHeading">
            special needs care
  
  
          </p>
          <P style="font-weight: 100;">july2021 - march2022</P>
          <p>caretaker for special needs</p>
          <p>fanus - 078 222 5555</p>
        </div>
        <div style="border-left: 1px solid black; width: 50%;">
          <p>quadroplegic</p>
          <p></p>
        </div>
  
  
      </div>
  
      <div>
  
  
        <div class="covid">
          <p>26 maart 2020</p>
          <p>Covid</p>
        </div>
  
        <div class="workInstance">
  
  
          <div style="width: 40%;">
            <p class="workHistoryHeading">
              engen silverlakes
  
            </p>
            <P style="font-weight: 100;">sept2021 - feb2022</P>
            <p>manager</p>
            <p>Mads Riekert - 078 885 6666</p>
          </div>
          <div style="border-left: 1px solid black; width: 50%;">
            <p>short contract, had to double check figures</p>
            <p>implementation of procedures</p>
            <p> POS implementation
            </p>
          </div>
        </div>
  
  
  
  
  
  
        <div class="workInstance">
  
  
          <div style="width: 40%;">
            <p class="workHistoryHeading">
              rock@88
  
            </p>
            <p>2018/2019-august2021</p>
            <p>manager</p>
  
          </div>
          <div style="border-left: 1px solid black; width: 50%;">
            <p> admin/hr roles
            </p>
            <p>stock</p>
            <p> POS implemtation
            </p>
            <p></p>
          </div>
  
        </div>
  
  
  
  
      </div>
    </div>
  </div>
  
  
  <div class="stickyTopNav">
    <div>
     
    </div>
    <div>
     
    </div>
  
    <div>
     
    </div>
    <div>
    
    </div>
  
  
  </div>